body {
    padding-top: 50px;
    /*display: flex;*/
}

#main {
    margin: 0 4em 5em 2em;
    position: absolute;
    top: 5em;
}

.banner {
    height: 3em;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    padding: 1em;
}

#header {
    justify-content: flex-start;
    position: absolute;
    top: 0;
}

#footer {
    /*justify-content: flex-end;*/
    position: absolute;
    bottom: 0;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #aaaaaa;
  padding: 0.8rem 1.6rem;
  text-align: right;
}

.table_total {
    font-weight: 600;
}