<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <!-- Brand text -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/home"><strong>BuyTogether</strong></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            {# Show dashboard and logout buttons if signed in, sign-in and register if not #}
            {% if request.user.is_authenticated %}

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'member_home' %}">{{ request.user.name_of_use }}'s Dashboard</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'logout' %}">SignOut</a></li>
                </ul>

            {% else %}

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'login' %}">SignIn</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'new_user' %}">Register</a></li>
                </ul>

            {% endif %}


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>