{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}


{% block main %}

    <h2>Create a New Buy</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}

        {% bootstrap_field form.name %}
        <p>Date format: yyyy-mm-dd</p>
        {% bootstrap_field form.date_open field_class='datepicker' %}
        {% bootstrap_field form.date_close field_class='datepicker' %}
        {% bootstrap_field form.notes %}

        <button>Submit</button>
    </form>

{% endblock %}