{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block main %}

    <h2>{{ buy.name }}</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    

    <h4><p>Club: <a href="/accounts/{{ buy.club.slug }}/manage/">{{ buy.club.name }}</a></p></h4>

    <h3>Orders on this Buy:</h3>

    <table>
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Product ID</th>
            <th>Total Units Ordered</th>
            <th>Unit</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for p in buy.products.all %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.item_id }}</td>
                <td>{{ p.order_count }}</td>
                <td>{{ p.unit }}</td>
                <td>${{ p.order_total|floatformat:2 }}</td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
        <tr>
            <td class='table_total' colspan="4">Order total:</td>
            <td>${{ buy.order_total|floatformat:2 }}</td>
        </tr>
        </tfoot>


    </table>



    <h3>Add products to this Buy:</h3>

    <form action="/buys/{{ buy.pk }}/add/" method="POST">
        {% csrf_token %}


        <table>
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Product ID</th>
                <th>Unit Price</th>
                <th>Unit</th>
            </tr>
            </thead>

            {% for f in formset %}
                {{ f.id }}
                {{ f.errors }}

                <tr class="formset_row">
                    <td class="formset_field">
                        {% if f.instance.pk %}{{ f.DELETE }}{% endif %}
                        {% bootstrap_field f.name layout='horizontal' show_label=False %}
                    </td>
                    <td class="formset_field">{% bootstrap_field f.item_id layout='horizontal' show_label=False %}</td>
                    <td class="formset_field">{% bootstrap_field f.unit_price layout='horizontal' show_label=False %}</td>
                    <td class="formset_field">{% bootstrap_field f.unit layout='horizontal' show_label=False %}</td>
                </tr>
            {% endfor %}
        </table>

        {% buttons submit='Save' reset="Cancel" %}{% endbuttons %}
        {{ formset.management_form }}
    </form>

    <h3>Update Buy Information:</h3>

    <h5>Buy Name: {{ buy.name }}</h5>

    <form action="/buys/{{ buy.pk }}/update/" method="POST">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button>Update</button>
    </form>


{% endblock %}

{% block extra_javascript %}

    <script src="{% static 'formset.js' %}"></script>

    <script>
        $('.formset_row').formset({
            addText: 'add link',
            deleteText: 'remove',
            prefix: '{{ formset.prefix }}'
        });
    </script>
{% endblock %}
