{% extends 'base.html' %}
{% load bootstrap3 %}


{% block main %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>{{ club.name }}</h1>

    {% if status %}

        {# Create button link to management page for managers only #}
        {% if status == 'manage' %}
            <a href="manage/">
                <button id="{{ status }}">{{ button }}</button>
            </a>

        {# Use button to join or leave club depending on currentstatus #}
        {% else %}
            <a>
                <button id="{{ status }}">{{ button }}</button>
            </a>

            <div style='display: none' id="dialog-confirm" title="Leave club?">
                <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This will
                    remove
                    you from the club. Are you sure?</p>
            </div>
        {% endif %}
    {% endif %}

    <h5>Owned by: {{ owner.member.name_of_use }}</h5>

    {# Display club info #}
    {% if club.desc_brief %}
        <h3>{{ club.desc_brief }}</h3>
    {% endif %}

    {% if club.desc_verbose %}
        <h4>Description:</h4>
        <p>{{ club.desc_verbose }}</p>
    {% endif %}

    {% if club.requirements %}
        <h4>Membership Requirements:</h4>
        <p>{{ club.requirements }}</p>
    {% endif %}


    {# Display club members in a table #}
    <table>
        <thead>
        <tr>
            <th>Member name</th>
            <th>Status</th>
            <th>Member Location</th>
        </tr>
        </thead>

        <tbody>
        {% for m in memberships %}
            <tr>
                <td>{{ m.member.name_of_use }}</td>
                <td>{{ m.get_status_display }}</td>
                <td>{{ m.member.zip_code }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Currently open Buys:</h3>

    {% for b in buys %}
        <a href="/buys/{{ b.pk }}/member_order"><h4>{{ b.name }}</h4></a>

    {% endfor %}

{% endblock %}


{% block extra_javascript %}

    <script>
        "use strict";


        $('#join_club').click(function (evt) {
                evt.preventDefault();

                $.ajax({
                    url: '/accounts/club/join/',         // Target Server
                    type: 'POST',                        // Request Verb
                    data: {'slug': '{{club.slug}}'},     // Request Params
                    success: function (rsp) {            // Success Handler
                        $('#join_club').text(rsp.results);
                    },
                    error: function (err) {              // Error Handler
                        console.log(err);
                    }
                });

            }
        );


        $('#unjoin').click(function (evt) {
                evt.preventDefault();

                $(function () {
                    $("#dialog-confirm").dialog({
                        resizable: false,
                        height: "auto",
                        width: 400,
                        modal: true,
                        buttons: {
                            "Leave club": function () {
                                $(this).dialog("close");
                            },
                            Cancel: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                });


                $.ajax({
                    url: '/accounts/club/unjoin/',
                    type: 'POST',
                    data: {'slug': '{{club.slug}}'},
                    success: function (rsp) {
                        $('#unjoin').text(rsp.results);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });

            }
        );


    </script>

{% endblock %}