{% extends 'base.html' %}
{% load bootstrap3 %}

{% block main %}

    <h1>Club management</h1>

    <a href="../"><h4>Public profile</h4></a>

    <hr>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <table>

        <thead>
        <tr>
            <th>Name</th>
            <th>Email address</th>
            <th>Zip Code</th>
        </tr>
        </thead>

        <tbody>

        <h3>Members</h3>
        {% for m in members %}
            <tr>
                <td>{{ m.member.name_of_use }}</td>
                <td>{{ m.member.username }}</td>
                <td>{{ m.member.zip_code }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <hr>

    <h3>Buys</h3>

    <a href="/buys/{{ club.slug }}/addbuy/">
        <button>Create a New Buy</button>
    </a>

    {% for b in buys %}
        <table>
            <tr>
                <td><a href="/buys/{{ b.pk }}/manage/">{{ b.name }}</a></td>
                <td>{{ b.date_close }}</td>
            </tr>
        </table>
    {% endfor %}


    <hr>
    <h3>Update Club Information</h3>

    <h5>Club Name: {{ club.name }}</h5>

    <form action="" method="POST">
        {% csrf_token %}

        {% bootstrap_form form %}

        <button>Update</button>
    </form>

{% endblock %}