{% extends 'base.html' %}
{% load bootstrap3 %}


{% block main %}

    <h2>Create a New Club</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}

        {% bootstrap_form form %}

        <button>Create my Club</button>
    </form>

{% endblock %}