{% extends 'base.html' %}
{% load bootstrap3 %}


{% block main %}

    <h4>BuyTogether is a project under development.</h4>
    <p>Please contact burrowingdan@gmail.com for support, or with bug reports, feature requests, or questions.</p>

{% endblock %}