{% extends 'base.html' %}
{% load bootstrap3 %}


{% block main %}

    <h3>{{ member.name_of_use }}'s order for <a href="/buys/{{ buy.pk }}/member_order/">{{ buy }}</a></h3>
    <h4>Club: {{ buy.club.name }}</h4>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <table border="solid">

        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Unit</th>
            <th>Total</th>
        </tr>

        {% for o in orders %}
            <tr>
                <td>{{ o.order.name }}</td>
                <td>{{ o.order_quantity }}</td>
                <td>${{ o.order.unit_price|floatformat:2 }}</td>
                <td>{{ o.order.unit }}</td>
                <td>${{ o.order_total|floatformat:2 }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="4">Invoice Total:</td>
            <td>${{ invoice_total|floatformat:2 }}</td>
        </tr>
    </table>

{% endblock %}