{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}


{% block main %}

    <h3>
        {{ request.user.name_of_use }}'s orders on {{ buy.name }} in
        <a href="/accounts/{{ buy.club.slug }}/">{{ buy.club.name }}</a>
    </h3>

    <p>{{ buy.notes }}</p>

    <a href="/buys/invoice/{{ buy.pk }}/{{ request.user.pk }}"><button>View Invoice</button></a>

        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>

    <table>
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Product ID</th>
            <th>Unit Price</th>
            <th>Order Quantity</th>
            <th>Unit</th>
        </tr>
        </thead>

        <tbody>
        <form action="" method="POST">
            {% csrf_token %}
            {% for form in formset %}
                {{ form.id }}
                {{ form.errors }}
                <tr>
                    <td>{{ form.instance.order.name }}</td>
                    <td>{{ form.instance.order.item_id }}</td>
                    <td>{{ form.instance.order.unit_price }}</td>
                    <td><input class="quantity_form" type="text" name="update_order_{{ form.instance.pk }}"
                               value="{{ form.instance.order_quantity }}" data-product="{{ form.instance.order.pk }}">
                    </td>
                    <td>{{ form.instance.order.unit }}</td>
                </tr>
            {% endfor %}
            {{ formset.management_form }}

        </form>


        <form action="" method="POST">
            {% csrf_token %}
            <fieldset name="memberless_products">
                {% for p in products %}
                    <tr>
                        <td>{{ p.name }}</td>
                        <td>{{ p.item_id }}</td>
                        <td>{{ p.unit_price }}</td>
                        <td><input class="quantity_form" name='new_order_{{ p.pk }}' type="text"
                                   placeholder="0" data-product="{{ p.pk }}">
                        </td>
                        <td>{{ p.unit }}</td>
                    </tr>
                {% endfor %}
            </fieldset>

        </form>
        </tbody>
    </table>


{% endblock %}

{% block extra_javascript %}

    <script type="text/javascript" src="{% static 'join_buy.js' %}"></script>

{% endblock %}


