{% extends 'base.html' %}
{% load bootstrap3 %}


{% block main %}

    <form action="" method="POST">
    {% csrf_token %}

    {% bootstrap_form form %}

    <button>Submit</button>
    </form>


{% endblock %}