{% extends 'base.html' %}
{% load bootstrap3 %}


{% block main %}

    <h1>{{ request.user.name_of_use }}'s Dashboard</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="/accounts/newclub/">
        <button>Create New Club</button>
    </a>


    {# Show membership if there is memberships, display alt message if not #}
    {% if memberships %}

        <h2>My clubs</h2>
        {% for membership in memberships %}
            <a href="/accounts/{{ membership.club.slug }}">{{ membership.club.name }}</a><br>
            Membership Status: {{ membership.get_status_display }}
            <p><strong>{{ membership.club.desc_brief }}</strong></p><br>
        {% endfor %}

    {% else %}

        <h3>You're not in any Clubs. Start by finding one to join, or make your own.</h3>

    {% endif %}

{% endblock %}