{% extends 'base.html' %}
{% load bootstrap3 %}


{% block main %}

    <h3>BuyTogether helps you buy, together</h3>

    <p>BuyTogether is an app that aims to help groups of friends organize whole purchasing coops and buying clubs.
        BuyTogether can help you start a club, organizer your members, open buys to your members, and view member
    invoices. Save more, in less time, when you BuyTogether.</p>

    <p>Get starting by signing up, staring a club, and sharing your club's URL with friends.</p>

{% endblock %}
